@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

:root {
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4F;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 8% 0% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-radius: 4px;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}


.cabecalho__menu__link:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}
.search {
    display: flex;
    align-items: center;
    border: 1px solid var(--cor-hover);
    background-color: #d6d6d6;
    width: 15.63rem;
    margin: 1.25rem;
    border-radius: 1.25rem;
    padding: 0.5rem 0.75rem;
    color: var(--cor-terciaria);
}


#searchInput {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.search label {
    height: 1.25rem;
}

html {
    height: auto;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.apresentacao {
    flex: 1;
    padding: 8% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    /* height: 482px; */
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao__conteudo__titulo {
    color: var(--cor-secundaria);
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    box-sizing: border-box;
    width: 50%;
    height: 40rem;
    display: flex;
    align-items: center;
}

.rodape {
    color:var(--cor-primaria);
    background-color: var(--cor-terciaria);
    display: block;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1330px) {
    .cabecalho {
        padding: 6%;  
    }

    .cabecalho__menu {
        justify-content: center;
        align-items: start;
        gap: 1px;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__imagem {
        width: 90%;
        height: auto;
        
    }
}